---
interface Props {
  class?: string
  href?: string
  title?: string
  color?: string
}

const { class: className, href, title, color } = Astro.props
---

<a
  href={href}
  target='_blank'
  rel='noopener noreferrer'
  class={`${className} relative h-min w-min px-4 py-3 rounded-xl group flex items-center justify-center gap-2 sm:hover:bg-black/10 sm:hover:shadow-md sm:hover:shadow-black/80 backdrop-blur-sm overflow-hidden border-2 border-white/5 sm:hover:border-white/10 transition-all`}
  aria-label={`Link to ${title}`}
>
  <div
    class={`absolute left-0 top-0 w-full h-1/4 bg-gradient-to-b to-transparent ${color} opacity-80 sm:opacity-40 sm:group-hover:opacity-80`}
  >
  </div>
  <div
    class={`absolute left-0 top-0 w-1/12 h-full bg-gradient-to-r to-transparent ${color} opacity-80 sm:opacity-40 sm:group-hover:opacity-80`}
  >
  </div>
  <div
    class={`absolute left-0 bottom-0 w-full h-1/4 bg-gradient-to-t to-transparent ${color} opacity-80 sm:opacity-40 sm:group-hover:opacity-80`}
  >
  </div>
  <div
    class={`absolute right-0 bottom-0 w-1/12 h-full bg-gradient-to-l to-transparent ${color} opacity-80 sm:opacity-40 sm:group-hover:opacity-80`}
  >
  </div>
  <slot />
  {
    title && (
      <span class='truncate text-sm sm:text-base font-semibold text-white/90 sm:text-white/50 sm:group-hover:text-white/90'>
        {title}
      </span>
    )
  }
</a>
