---
import Button from '@/components/Button.astro'

import GitHub from '@/icons/GitHub.astro'
import Link from '@/icons/Link.astro'

interface Props {
  class?: string
  size?: 'sm' | 'lg'
  title: string
  description: string
  tags: {
    name: string
    class: string
    icon: any
  }[]
  image: string
  github?: string
  link?: string
}

const { class: className, size = 'sm', title, description, tags, image, github, link } = Astro.props
---

<article
  class={`${className} col-span-10 md:col-span-5 ${
    size === 'sm' ? 'lg:col-span-4' : 'lg:col-span-6'
  } flex flex-col gap-1`}
>
  <div
    class='relative rounded-xl w-full h-full hover:bg-black/10 hover:shadow-md hover:shadow-black/80 backdrop-blur-sm overflow-hidden border-2 border-white/5 hover:border-white/10 transition-all group flex flex-col gap-2'
  >
    <h3
      class='px-8 pt-8 font-bold text-lg sm:text-xl text-white/90 sm:text-white/70 sm:group-hover:text-white/90 transition-all'
    >
      {title}
    </h3>
    <p
      class='px-8 font-light text-sm sm:text-base text-white/70 sm:text-white/50 sm:group-hover:text-white/70 transition-all'
    >
      {description}
    </p>
    <ul class='px-8 w-full flex flex-wrap gap-1 sm:contrast-75 sm:group-hover:contrast-100'>
      {
        tags.slice(0, 5).map((tag) => (
          <li>
            <span class={`${tag.class} flex items-center gap-1 rounded-full text-xs sm:text-sm py-1 px-2`}>
              <tag.icon class='size-3' />
              {tag.name}
            </span>
          </li>
        ))
      }
    </ul>
    <div class={`flex-1 flex pt-8 justify-end ${size === 'sm' ? 'lg:justify-start' : 'lg:justify-end'}`}>
      <picture
        class={`relative w-3/4 overflow-hidden ${
          size === 'sm' ? 'lg:rounded-e-xl' : 'lg:rounded-s-xl'
        } max-lg:rounded-s-xl opacity-90 sm:opacity-70 sm:group-hover:opacity-90 sm:group-hover:contrast-125 sm:group-hover:scale-110 transition`}
      >
        <img
          class={`w-full h-full object-cover object-left-top  ${
            size === 'sm' ? 'lg:object-right-top' : 'lg:object-left-top'
          } max-lg:object-left-top`}
          src={image}
          alt={`Image of project ${title}`}
          loading='lazy'
        />
      </picture>
    </div>
    <div class='absolute left-0 bottom-0 w-full h-full bg-gradient-to-t from-black to-25% to-transparent'></div>
  </div>
  <nav class='w-full flex gap-1'>
    {
      github && (
        <>
          <Button class='flex-1' href={github} color='from-black'>
            <GitHub class='size-8 text-white/90  sm:text-white/50 sm:group-hover:text-white/90 group-hover:scale-105 transition' />
          </Button>
        </>
      )
    }
    {
      link && (
        <Button class='flex-1' href={link} color='from-black'>
          <Link class='size-8 text-white/90  sm:text-white/50 sm:group-hover:text-white/90 group-hover:scale-105 transition' />
        </Button>
      )
    }
  </nav>
</article>
