---
import Aws from '@components/logos/Aws.astro'
import Docker from '@components/logos/Docker.astro'
import Express from '@components/logos/Express.astro'
import Firebase from '@components/logos/Firebase.astro'
import Graphql from '@components/logos/Graphql.astro'
import JavaScript from '@components/logos/JavaScript.astro'
import MongoDB from '@components/logos/MongoDB.astro'
import MySQL from '@components/logos/MySQL.astro'
import Netlify from './logos/Netlify.astro'
import NextJs from './logos/NextJs.astro'
import NodeJs from '@components/logos/NodeJs.astro'
import PostgreSQL from './logos/PostgreSQL.astro'
import React from './logos/React.astro'
import Tailwind from './logos/Tailwind.astro'
import Vercel from './logos/Vercel.astro'
import ViteJs from './logos/ViteJs.astro'
import VueJs from './logos/VueJs.astro'
import Wordpress from './logos/Wordpress.astro'

import BgGradient from '@components/BgGradient.astro'
import ProjectItem from './ProjectItem.astro'

const TAGS = {
  AWS: {
    name: 'AWS',
    icon: Aws,
    class: 'bg-[#FF9900] text-white',
  },
  DOCKER: {
    name: 'Docker',
    icon: Docker,
    class: 'bg-[#2496ED] text-white',
  },
  EXPRESS: {
    name: 'Express',
    icon: Express,
    class: 'bg-[#000000] text-white',
  },
  FIREBASE: {
    name: 'Firebase',
    icon: Firebase,
    class: 'bg-[#FFCA28] text-black',
  },
  GRAPHQL: {
    name: 'GraphQL',
    icon: Graphql,
    class: 'bg-[#E10098] text-white',
  },
  JAVASCRIPT: {
    name: 'JavaScript',
    icon: JavaScript,
    class: 'bg-[#F7DF1E] text-black',
  },
  MONGODB: {
    name: 'MongoDB',
    icon: MongoDB,
    class: 'bg-[#47A248] text-white',
  },
  MYSQL: {
    name: 'MySQL',
    icon: MySQL,
    class: 'bg-[#4479A1] text-white',
  },
  NETLIFY: {
    name: 'Netlify',
    icon: Netlify,
    class: 'bg-[#00C7B7] text-white',
  },
  NEXTJS: {
    name: 'Next.js',
    icon: NextJs,
    class: 'bg-[#000000] text-white',
  },
  NODEJS: {
    name: 'Node.js',
    icon: NodeJs,
    class: 'bg-[#339933] text-white',
  },
  POSTGRESQL: {
    name: 'PostgreSQL',
    icon: PostgreSQL,
    class: 'bg-[#336791] text-white',
  },
  REACT: {
    name: 'React',
    icon: React,
    class: 'bg-[#61DAFB] text-black',
  },
  TAILWIND: {
    name: 'Tailwind',
    icon: Tailwind,
    class: 'bg-[#38B2AC] text-white',
  },
  VERCEL: {
    name: 'Vercel',
    icon: Vercel,
    class: 'bg-[#000000] text-white',
  },
  VITEJS: {
    name: 'Vite.js',
    icon: ViteJs,
    class: 'bg-[#646CFF] text-white',
  },
  VUEJS: {
    name: 'Vue.js',
    icon: VueJs,
    class: 'bg-[#4FC08D] text-white',
  },
  WORDPRESS: {
    name: 'WordPress',
    icon: Wordpress,
    class: 'bg-[#21759B] text-white',
  },
}

interface Props {
  class?: string
  componentId?: string
}

const { class: className, componentId } = Astro.props

const PROJECTS = [
  {
    title: 'SVGL - A beautiful library with SVG logos',
    description:
      "Created from scratch with Next.js and Tailwind CSS. It's a library with SVG logos from the most popular brands. Optimized for SEO and performance.",
    link: 'https://svgl.vercel.app/',
    github: 'https://github.com/pheralb/svgl',
    image: '/projects/project1.png',
    tags: [TAGS.NEXTJS, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
]
---

<section id={componentId} class={`relative w-screen h-min ${className}`}>
  <BgGradient />
  <header class='mx-auto w-3/4 max-w-4xl flex justify-center m-4'>
    <h2 class='text-right font-extrabold text-[4rem] sm:text-8xl text-gray-500/50'>Projects</h2>
  </header>
  <div class='relative w-full max-w-[1400px] grid md:grid-cols-10 auto-rows-[30rem] gap-4 mx-auto p-6 sm:px-24'>
    <ProjectItem size='lg' title={PROJECTS[0].title} tags={PROJECTS[0].tags} image={PROJECTS[0].image} github={PROJECTS[0].github} />
    <ProjectItem size='sm' title={PROJECTS[0].title} tags={PROJECTS[0].tags} image={PROJECTS[0].image} github={PROJECTS[0].github} link={PROJECTS[0].link} />
    <ProjectItem size='sm' title={PROJECTS[0].title} tags={PROJECTS[0].tags} image={PROJECTS[0].image} link={PROJECTS[0].link} />
    <ProjectItem size='lg' title={PROJECTS[0].title} tags={PROJECTS[0].tags} image={PROJECTS[0].image} link={PROJECTS[0].link} />
    <ProjectItem size='lg' title={PROJECTS[0].title} tags={PROJECTS[0].tags} image={PROJECTS[0].image} github={PROJECTS[0].github} />
    <ProjectItem size='sm' title={PROJECTS[0].title} tags={PROJECTS[0].tags} image={PROJECTS[0].image} github={PROJECTS[0].github} link={PROJECTS[0].link} />
  </div>
</section>
